<style>
    #canvas {
        position: relative;
        display: block;
        margin: 0 auto;
    }

    #divText {
        position: relative;
        display: block;
        margin: 0 auto;
    }


    hr.white {
        border-top: 1px solid white;
    }
</style>

<div class="container-fluid ">
    <div class="row">
        <div class="col-6">
            <h3>
                <span data-bind="text: moduleName" style="display:none;"></span>
            </h3>

        </div>
        <div class="col-6">
            <div class="btn-group float-right" role="group">

                <!--ko if: hasSavedGames-->
                <button class="btn btn-danger btn-sm" data-bind="click: deleteGame">Obriši spremljenu igru</button>
                <button class="btn btn-primary btn-sm" data-bind="click: loadGame">Učitaj spremljenu igru</button>
                <!--/ko-->

                <!--ko if: indexDB-->
                <button class="btn btn-info btn-sm" data-bind="click: saveGame">Spremi igru</button>
                <!--/ko-->
                <button class="btn btn-success btn-sm" data-bind="click: newGame">Nova igra</button>
            </div>
        </div>
    </div>
    <hr />

    <div id="divMain" class="bg-dark" style="padding: 20px 5px"
        data-bind="childrenComplete: afterBinding.bind($data, $data)">
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div class="card text-white bg-dark border-light mb-3">
                    <div class="card-header">
                        <h6>
                            Galaxy Neka galaksija
                        </h6> 
                    </div>
                    <div class="card-body" id="divCanvas">
                        <canvas id="canvas" style="border:1px solid white; width:640px; height:480px;"></canvas>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-4">
                                <div>
                                    Time: <span data-bind="text: gameTimeFormated"></span>, 
                                </div>
                                <div>
                                    Status: <span data-bind="text: gameStatus"></span>
                                </div>
                                <div>
                                    Distance: <span data-bind="text: distanceSelectedShip"></span>
                                </div>
                            </div>
                            <div class="col-4">
                                <div>
                                    Selected planet: 
                                     <!--ko if: selectedPlanet-->
                                    <span data-bind="text: selectedPlanet().planetName, style:{color: selectedPlanet().stopColor}"></span>
                                    <!--/ko-->
                                </div>
                                <div>
                                    Ship on planet: 
                                    <!--ko if: currentPlanet-->
                                    <span data-bind="text: currentPlanet().planetName, style:{color: currentPlanet().stopColor}"></span>
                                    <!--/ko-->
                                </div>
                                <div>
                                    Mouse over: 
                                    <!--ko if: mouseOverPlanet()-->
                                    <span  data-bind="text: mouseOverPlanet().planetName, style:{color: mouseOverPlanet().stopColor}"></span>
                                    <!--/ko-->
                                </div>
                            </div>
                            <div class="col-4">
                                <!-- ko if: ship-->
                                <div>
                                    Money: <span  data-bind="text: ship().money"></span> credits.
                                </div>
                                <div>
                                    Ship fuel: <span  data-bind="text: ship().fuel"></span>/<span  data-bind="text: ship().fuelTankSize"></span>
                                </div>
                                <div>
                                    Ship shield: <span  data-bind="text: ship().shield"></span>/<span  data-bind="text: ship().shieldSize"></span>
                                </div>
                                <!--/ko-->
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="card text-white bg-dark border-light mb-3">
                    <div class="card-header" >
                        <h6>
                            <span data-bind="html: gameViewTitle"></span>
                        </h6> 
                    </div>
                    <div class="card-body" id="divGameView" style="height: 480px;">
                        <!--ko if: gameStatus() === "SHIP_READY" -->
                        <div class="row">
                            <!--ko if: ship()-->
                            <div class="col-12">
                                BROD
                                <ul>
                                    <li>
                                        Novac: <span data-bind="text: ship().money()"></span>
                                    </li>
                                    <li>
                                        Tovar: <span data-bind="text: ship().usedCargo()"></span> / <span data-bind="text: ship().cargoBaySize()"></span>
                                    </li>
                                    <li>
                                        Kapacitet rezervoara: <span data-bind="text: ship().fuel"></span> / <span data-bind="text: ship().fuelTankSize"></span>
                                    </li>
                                    <li>
                                        Topovi: <span data-bind="text: ship().firePower()"> </span> / <span data-bind="text: ship().firePowerSize()"> </span>
                                    </li>
                                    <li>
                                        Stanje štitova: <span data-bind="text: ship().shield()"> </span> / <span data-bind="text: ship().shieldSize()"> </span>
                                    </li>
                                </ul>
                            </div>
                            <!--/ko-->
                        </div>

                        <div class="row" data-bind="visible: fightMessage" style="margin-top: 20px; padding-top: 20px; padding-bottom: 20px; border-top: 1px solid white;">
                            <div class="col-12">
                                <div data-bind="html: fightMessage"></div>
                            </div>
                        </div>

                        <!--/ko-->


                        <!--ko if: gameStatus() === "SHIP_BUY_FUEL" -->
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12">
                                        <h4>Kupnja goriva u svemiru</h4>
                                        <h6>To je najskuplja kupnja goriva!!!</h6>
                                        <h7>
                                            Cijena goriva je <span class="font-weight-bold" data-bind="text: fuelInSpacePrice"></span> po jedinici;
                                        </h7>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:30px; margin-bottom: 30px;">
                                    <div class="col-4">
                                        <button class="btn btn-outline-light btn-xs" data-bind="click: function(data, event) { buyFuel(10, 'SPACE', data, event)}">
                                            <i class="fas fa-gas-pump"></i>
                                            <span>Fuel + 10</span>
                                        </button>
                                    </div>
                                    <div class="col-4">
                                        <button class="btn btn-outline-light btn-xs" data-bind="click: function(data, event) { buyFuel(100, 'SPACE', data, event)}">
                                            <i class="fas fa-gas-pump"></i>
                                            <span>Fuel + 100</span>
                                        </button>
                                    </div>
                                    <div class="col-4">
                                        <button class="btn btn-outline-light btn-xs" data-bind="click: function(data, event) { buyFuel(1000, 'SPACE', data, event)}">
                                            <i class="fas fa-gas-pump"></i>
                                            <span>Fuel + 1000</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <span>
                                            Ne morate se bojati odabrati gumb sa više goriva nego što stane u vaš rezervoar - goriva možete kupiti maksimalno koliki je kapacitet rezervoara.
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <ul>
                                            <li>
                                                Trenutno imate goriva: <span data-bind="text: ship().fuel()"> </span>
                                            </li>
                                            <li>
                                                Kapacitet rezervoara: <span data-bind="text: ship().fuelTankSize()"> </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/ko-->


                        <!--ko if: gameStatus() === "SHIP_ATTACKED" -->
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12">
                                        <h4>Napadnuti ste od svemirskih gusara!</h4>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 20px; padding-top: 20px; padding-bottom: 20px; border-top: 1px solid white;">
                                    <div class="col-6">
                                        <div style="padding-bottom: 10px;">
                                            PIRATI (<span data-bind="text: pirates().length"></span>)
                                        </div>
                                        <ul style="padding: 0; list-style-type: none;" data-bind="foreach: pirates">
                                            <li style="padding-bottom: 10px;">
                                                <i class="fas fa-space-shuttle text-danger"></i>&nbsp;&nbsp;
                                                Štit: <span data-bind="text: shield"></span>,
                                                Topovi: <span data-bind="text: firePower"></span>
                                                <!--ko if: $parent.shipOnBattleViews() == 'FIGHT'-->
                                                &nbsp;&nbsp;
                                                <i class="fas fa-caret-right text-danger"></i>
                                                <span class="text-danger" data-bind="text: shot"></span>
                                                <!--/ko-->
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-6">
                                        <div style="padding-bottom: 10px;">BROD</div>
                                        <div>
                                            <!--ko if: shipOnBattleViews() == 'FIGHT'-->
                                            <span class="text-danger" data-bind="text: ship().shot()"></span>
                                            <i class="fas fa-caret-left text-danger "></i>
                                            </span>&nbsp;&nbsp;
                                            <!--/ko-->
                                            <i class="fas fa-space-shuttle fa-flip-horizontal"></i>
                                            <ul style="padding: 0; list-style-type: none;">
                                                <li>
                                                    Topovi: <span data-bind="text: ship().firePower()"> </span> / <span data-bind="text: ship().firePowerSize()"> </span>
                                                </li>
                                                <li>
                                                    Stanje štitova: <span data-bind="text: ship().shield()"> </span> / <span data-bind="text: ship().shieldSize()"> </span>
                                                </li>
                                                <li>
                                                    Kapacitet rezervoara: <span data-bind="text: ship().fuel()"> </span> / <span data-bind="text: ship().fuelTankSize()"> </span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 20px; padding-top: 20px; padding-bottom: 20px; border-top: 1px solid white;">
                            <div class="col-12">
                                <div data-bind="html: fightMessage"></div>
                            </div>
                        </div>
                        <!--/ko-->


                        <!--ko if: gameStatus() === "SHIP_MOVE" && selectedPlanet -->
                        <div class="row">
                            <div class="col-6">
                                Planet
                                <ul>
                                    <li>
                                        Name: <span data-bind="text: selectedPlanet().planetName"></span>
                                    </li>
                                    <li>
                                        Type: <span data-bind="text: selectedPlanet().planetTypeString"></span>
                                    </li>
                                    <li>
                                        Distance: <span data-bind="text: selectedPlanet().distanceFromShip"></span> / 
                                        <span data-bind="text: ship().distanceToPlanet"></span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-6">
                                Ship
                                <ul>
                                    <li>
                                        Fuel: <span data-bind="text: ship().fuel"></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--/ko-->


                        <!--ko if: gameStatus() === "SHIP_ONPLANET" && currentPlanet -->
                        <div class="row">
                            <div class="col-12">
                                <!--ko if: shipOnPlanetViews() == "MARKET"-->
                                <div class="row">
                                    <div class="col-6">
                                        Tovar: <span data-bind="text: ship().usedCargo()"></span> / <span data-bind="text: ship().cargoBaySize()"></span>
                                    </div>
                                    <div class="col-6">
                                        <div class="float-right">
                                            Novac: <span class="" data-bind="text: ship().money()"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 10px; margin-bottom: 10px; padding: 5px 5px; border-top: 1px solid white; border-bottom: 1px solid white">
                                    <div class="col-12">
                                        Količina kojom trgujete: 
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="radio" name="inlinesellBuyQuantity" value="10" data-bind="checked: sellBuyQuantity"> 10
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="radio" name="inlinesellBuyQuantity" value="100" data-bind="checked: sellBuyQuantity"> 100
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="radio" name="inlinesellBuyQuantity" value="1000" data-bind="checked: sellBuyQuantity"> 1000
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="radio" name="inlinesellBuyQuantity" value="10000" data-bind="checked: sellBuyQuantity"> 10000
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="row">
                                            <div class="col-6">
                                                <span class="font-weight-bold">PLANET:</span>
                                            </div>
                                            <div class="col-6"></div>
                                        </div>
                                       
                                        <table class="table table-striped table-dark">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Naziv proizvoda</th>
                                                    <th scope="col" style="text-align: right;">Cijena</th>
                                                    <th scope="col">
                                                        <i class="fas fa-shopping-cart"></i>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody data-bind="foreach: currentPlanet().products">
                                                <tr>
                                                    <td>
                                                        <span data-bind="text: name"></span>
                                                    </td>
                                                    <td style="text-align: right;">
                                                        <span data-bind="text: price"></span>
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-outline-light btn-xs" data-bind="click: $parent.buyProduct.bind($parent, $data)">
                                                            <i class="fas fa-plus"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        
                                    </div>
                                    <div class="col-6">
                                        <div class="row">
                                            <div class="col-12">
                                                <span class="font-weight-bold">BROD:</span>
                                            </div>
                                            
                                        </div>
                                        
                                        <table class="table table-striped table-dark">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Naziv proizvoda</th>
                                                    <th scope="col" style="text-align: right;">Količina</th>
                                                    <th scope="col">
                                                        <i class="fas fa-shopping-cart"></i>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody data-bind="foreach: ship().products">
                                                <tr>
                                                    <td>
                                                        <span data-bind="text: name"></span>
                                                    </td>
                                                    <td style="text-align: right;">
                                                        <span data-bind="text: quantity"></span>
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-outline-light btn-xs" title="Prodaj"  data-bind="click: $parent.sellProduct.bind($parent, $data)">
                                                            <i class="fas fa-minus"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!--/ko-->

                                <!--ko if: shipOnPlanetViews() == "UPGRADE_SHIP"-->
                                <div class="row">
                                    <div class="col-6">
                                        Tovar: <span data-bind="text: ship().usedCargo()"></span> / <span data-bind="text: ship().cargoBaySize()"></span>
                                    </div>
                                    <div class="col-6">
                                        <div class="float-right">
                                            Novac: <span class="" data-bind="text: ship().money()"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="border-top: 1px solid white; margin-top: 10px; padding-top: 5px;" >
                                    <div class="col-12">
                                        Na dokovima možete popravljati svoj brod, nadograđivati ga i kupovati gorivo.<br/>
                                        Jedinične cijene su prikazane kao nadogradnja / popravak ili nadopuna...
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 10px; margin-bottom: 10px; padding: 5px 5px; border-top: 1px solid white; border-bottom: 1px solid white">
                                    <div class="col-12">
                                        <table class="table table-striped table-dark">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Komponenta</th>
                                                    <th scope="col">Jed. cijena (Nad / Pop)</th>
                                                    <th scope="col">Nadogradnja</th>
                                                    <th scope="col">Popravak</th>
                                                    <th scope="col">Stanje</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <span>Štit</span>
                                                    </td>
                                                    <td>
                                                        <span data-bind="text: currentPlanet().shieldUpgradePrice"></span> /
                                                        <span data-bind="text: currentPlanet().shieldUnitPrice"></span>
                                                    </td>
                                                    <td>
                                                        <!--ko if: ship().maxCargoBaySize() > ship().cargoBaySize()-->
                                                        <button class="btn btn-outline-light btn-xs" data-bind="click: shieldUpgrade">
                                                            <i class="fas fa-angle-up"></i>100
                                                        </button>
                                                        <!--/ko-->
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-outline-light btn-xs" data-bind="click: shieldRepair">
                                                            <i class="fas fa-cog"></i>100
                                                        </button>
                                                    </td>
                                                    <td>
                                                        <span data-bind="text: ship().shield()"></span> / <span data-bind="text: ship().shieldSize()"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span>Topovi</span>
                                                    </td>
                                                    <td>
                                                        <span data-bind="text: currentPlanet().firePowerUpgradePrice"></span> /
                                                        <span data-bind="text: currentPlanet().firePowerUnitPrice"></span>
                                                    </td>
                                                    <td>
                                                        <!--ko if: ship().maxFirePowerSize() > ship().firePowerSize()-->
                                                        <button class="btn btn-outline-light btn-xs" data-bind="click: firePowerUpgrade">
                                                            <i class="fas fa-angle-up"></i>100
                                                        </button>
                                                        <!--/ko-->
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-outline-light btn-xs" data-bind="click: firePowerRepair">
                                                            <i class="fas fa-cog"></i>100
                                                        </button>
                                                    </td>
                                                    <td>
                                                        <span data-bind="text: ship().firePower()"></span> / <span data-bind="text: ship().firePowerSize()"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span>Rezervoar goriva</span>
                                                    </td>
                                                    <td>
                                                        <span data-bind="text: currentPlanet().fuelUpgradePrice"></span> /
                                                        <span data-bind="text: currentPlanet().fuelUnitPrice"></span>
                                                    </td>
                                                    <td>
                                                        <!--ko if: ship().maxFuelTankSize() > ship().fuelTankSize()-->
                                                        <button class="btn btn-outline-light btn-xs" data-bind="click: fuelUpgrade">
                                                            <i class="fas fa-angle-up"></i>100
                                                        </button>
                                                        <!--/ko-->
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-outline-light btn-xs" data-bind="click: fuelRepair">
                                                            <i class="fas fa-gas-pump"></i>100
                                                        </button>
                                                    </td>
                                                    <td>
                                                        <span data-bind="text: ship().fuel()"></span> / <span data-bind="text: ship().fuelTankSize()"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span>Tovarni prostor</span>
                                                    </td>
                                                    <td>
                                                        <span data-bind="text: currentPlanet().cargoUpgradeUnitPrice"></span>
                                                    </td>
                                                    <td>
                                                        <!--ko if: ship().maxCargoBaySize() > ship().cargoBaySize()-->
                                                        <button class="btn btn-outline-light btn-xs" data-bind="click: cargoUpgrade">
                                                            <i class="fas fa-angle-up"></i>100
                                                        </button>
                                                        <!--/ko-->
                                                    </td>
                                                    <td>
                                                        &nbsp;
                                                    </td>
                                                    <td>
                                                        <span data-bind="text: ship().usedCargo()"></span> / <span data-bind="text: ship().cargoBaySize()"></span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!--/ko-->

                                <!--ko if: shipOnPlanetViews() == "LOAN"-->
                                <div class="row" style="border-bottom: 1px solid white; margin-bottom: 10px; padding-bottom: 5px;">
                                    <div class="col-6">
                                        Tovar: <span data-bind="text: ship().usedCargo()"></span> / <span data-bind="text: ship().cargoBaySize()"></span>
                                    </div>
                                    <div class="col-6">
                                        <div class="float-right">
                                            Novac: <span class="" data-bind="text: ship().money()"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="border-bottom: 1px solid white; margin-bottom: 10px; padding-bottom: 5px;">
                                    <div class="col-6">
                                        KAMATNI URED 
                                        <table class="table table-striped table-dark">
                                            <thead>
                                                <tr>
                                                    <th scope="col" style="text-align: right;">Glavnica</th>
                                                    <th scope="col" style="text-align: right;">Kamata <br/>%</th>
                                                    <th scope="col" style="text-align: right;">Broj<br/> rata</th>
                                                    <th scope="col" style="text-align: right;">Iznos rate <br/> po danu</th>
                                                    <th scope="col"><i class="fas fa-hand-holding-usd"></i></th>
                                                </tr>
                                            </thead>
                                            <tbody data-bind="foreach: loans">
                                                <tr>
                                                    <td style="text-align: right;">
                                                        <span data-bind="text: glavnica"></span>
                                                    </td>
                                                    <td style="text-align: right;">
                                                        <span data-bind="text: kamatnaStopa"></span> %
                                                    </td>
                                                    <td style="text-align: right;">
                                                        <span data-bind="text: brojDanaVracanja"></span>
                                                    </td>
                                                    <td style="text-align: right;">
                                                        <span data-bind="text: iznosVracanjaPoDanu"></span>
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-outline-light btn-xs" title="Uzmi zajam" data-bind="click: $parent.takeLoan.bind($parent, $data)"  >
                                                            <i class="fas fa-hand-holding-usd"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-6">
                                        BROD
                                        <table class="table table-striped table-dark">
                                            <thead>
                                                <tr>
                                                    <th scope="col" style="text-align: right;">Glavnica</th>
                                                    <th scope="col" style="text-align: right;">Kamata <br/>$</th>
                                                    <th scope="col" style="text-align: right;">Broj<br/> rata</th>
                                                    <th scope="col" style="text-align: right;">Preostali iznos</th>
                                                    <th scope="col"><i class="fas fa-hand-holding-usd"></i></th>
                                                </tr>
                                            </thead>
                                            <tbody data-bind="foreach: ship().loans">
                                                <tr>
                                                    <td style="text-align: right;">
                                                        <span data-bind="text: glavnica"></span>
                                                    </td>
                                                    <td style="text-align: right;">
                                                        <span data-bind="text: kamata"></span>
                                                    </td>
                                                    <td style="text-align: right;">
                                                        <span data-bind="text: brojDanaVracanja"></span>
                                                    </td>
                                                    <td style="text-align: right;">
                                                        <span data-bind="text: ostatakIznosa"></span>
                                                    </td>
                                                    <td>
                                                        <!--ko if: $parent.ship().money() >= ostatakIznosa-->
                                                        <button class="btn btn-outline-light btn-xs" title="Vrati odjedamputa preostali iznos" data-bind="click: $parent.loanPayFull.bind($parent, $data)"  >
                                                            <i class="fas fa-exchange-alt"></i>
                                                        </button>
                                                        <!--/ko-->
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!--/ko-->

                                <!--ko if: shipOnPlanetViews() == "MARKET_INFO"-->
                                <div class="row" style="border-bottom: 1px solid white; margin-bottom: 10px; padding-bottom: 5px;">
                                    <div class="col-6">
                                        Tovar: <span data-bind="text: ship().usedCargo()"></span> / <span data-bind="text: ship().cargoBaySize()"></span>
                                    </div>
                                    <div class="col-6">
                                        <div class="float-right">
                                            Novac: <span class="" data-bind="text: ship().money()"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="border-bottom: 1px solid white; margin-bottom: 10px; padding-bottom: 5px;" >
                                    <div class="col-11">
                                        <!--ko if: uputeVisible()-->
                                        Odaberite planet, njegova tržnica će se prikazati u lijevom stupcu. 
                                        U srednjem stupcu se nalazi tovar vašeg broda, a u desnom stupcu se nalazi tržnica planete na kojoj se nalazi vaš brod.
                                        Na taj način možete pratiti što možete kupiti na planetu kojem jeste, što imate na brodu, i za koliko možete kupljenu robu prodati na odabranom planetu. 
                                        <!--/ko-->
                                        <!--ko ifnot: uputeVisible()-->
                                        UPUTE
                                        <!--/ko-->
                                    </div>
                                    <div class="col-1">
                                        <!--ko ifnot: uputeVisible()-->
                                        <button class="btn btn-outline-light btn-xs" data-bind="click: toggleUputeVisible" >
                                            <i class="fas fa-chevron-down"></i>
                                        </button>
                                        <!--/ko-->
                                        <!--ko if: uputeVisible()-->
                                        <button class="btn btn-outline-light btn-xs" data-bind="click: toggleUputeVisible" >
                                            <i class="fas fa-chevron-up"></i>
                                        </button>
                                        <!--/ko-->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <div class="row">
                                            <div class="col-12"> 
                                                <span class="font-weight-bold">PLANET </span>
                                                <span class="font-weight-bold" data-bind="text: selectedPlanet().planetName, style: { color: selectedPlanet().stopColor}"></span>
                                                <span class="float-right">[DIST: <span data-bind="text: selectedPlanet().distanceFromShip"></span>]</span>
                                            </div>
                                        </div>
                                       
                                        <table class="table table-striped table-dark">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Naziv</th>
                                                    <th scope="col" style="text-align: right;">Cij</th>
                                                </tr>
                                            </thead>
                                            <tbody data-bind="foreach: selectedPlanet().products">
                                                <tr>
                                                    <td>
                                                        <span data-bind="text: name"></span>
                                                    </td>
                                                    <td style="text-align: right;">
                                                        <span data-bind="text: price"></span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        
                                    </div>
                                    <div class="col-4">
                                        <div class="row">
                                            <div class="col-12">
                                                <span class="font-weight-bold">BROD:</span>
                                            </div>
                                        </div>
                                        
                                        <table class="table table-striped table-dark">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Naziv</th>
                                                    <th scope="col" style="text-align: right;">Kol</th>
                                                </tr>
                                            </thead>
                                            <tbody data-bind="foreach: ship().products">
                                                <tr>
                                                    <td>
                                                        <span data-bind="text: name"></span>
                                                    </td>
                                                    <td style="text-align: right;">
                                                        <span data-bind="text: quantity"></span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-4">
                                        <div class="row">
                                            <div class="col-12"> 
                                                <span class="font-weight-bold">PLANET </span>
                                                <span class="font-weight-bold" data-bind="text: currentPlanet().planetName, style: { color: currentPlanet().stopColor}"></span>
                                                <span class="float-right">[BROD]</span>
                                            </div>
                                        </div>
                                       
                                        <table class="table table-striped table-dark">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Naziv</th>
                                                    <th scope="col" style="text-align: right;">Cij</th>
                                                </tr>
                                            </thead>
                                            <tbody data-bind="foreach: currentPlanet().products">
                                                <tr>
                                                    <td>
                                                        <span data-bind="text: name"></span>
                                                    </td>
                                                    <td style="text-align: right;">
                                                        <span data-bind="text: price"></span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        
                                    </div>
                                </div>
                                <!--/ko-->
                            </div>
                        </div>
                        <!--/ko-->
                    </div>
                    <div class="card-footer">
                        <!--ko if: gameStatus() === "SHIP_READY" ||  gameStatus() === "SHIP_MOVE" ||  gameStatus() === "SHIP_BUY_FUEL" -->
                        <div class="btn-group btn-group-xs" role="group">
                            <!--ko if: selectedPlanet-->
                            <button class="btn btn-outline-light btn-xs" data-bind="click: moveShip, disable: gameStatus() == 'SHIP_MOVE'">
                                <i class="fas fa-play"></i>
                                <span data-bind="css:{'text-success': gameStatus() == 'SHIP_MOVE'}">
                                    Pokreni brod
                                </span>
                            </button>
                            <button class="btn btn-outline-light btn-xs" data-bind="click: stopShip, disable: gameStatus() === 'SHIP_READY' || gameStatus() == 'SHIP_BUY_FUEL'">
                                <i class="fas fa-stop"></i>
                                <span data-bind="css:{'text-success': gameStatus() == 'SHIP_READY'}">
                                    Zaustavi brod
                                </span>
                            </button>
                            <button class="btn btn-outline-light btn-xs" data-bind="click: getFuelInSpace, disable: (gameStatus() == 'SHIP_MOVE' || gameStatus() == 'SHIP_BUY_FUEL')">
                                <i class="fas fa-gas-pump"></i>
                                <span data-bind="css:{'text-success': gameStatus() == 'SHIP_BUY_FUEL'}">
                                    Kupi gorivo
                                </span>
                            </button>
                            <!--/ko-->
                            <!--ko ifnot: selectedPlanet-->
                            <span>Morate odabrati planet...</span>
                            <!--/ko-->
                        </div>
                        <!--/ko-->

                        <!--ko if: gameStatus() === "SHIP_ONPLANET" &&  currentPlanet && selectedPlanet-->
                        <div class="btn-group btn-group-xs" role="group">
                            <button class="btn btn-outline-light btn-xs" data-bind="click: goToMarket, disable: shipOnPlanetViews() == 'MARKET'">
                                <i class="fas fa-store-alt"></i>
                                <span data-bind="css:{'text-success': shipOnPlanetViews() == 'MARKET'}">Tržnica</span>
                            </button>
                            <button class="btn btn-outline-light btn-xs" data-bind="click: moveShip, disable: currentPlanet().planetName == selectedPlanet().planetName">
                                <i class="fas fa-play"></i>
                                <span>Pokreni brod</span>
                            </button>
                            <button class="btn btn-outline-light btn-xs" data-bind="click: upgradeShip, disable: shipOnPlanetViews() == 'UPGRADE_SHIP'">
                                <i class="fas fa-cogs"></i>
                                <span data-bind="css:{'text-success': shipOnPlanetViews() == 'UPGRADE_SHIP'}">Dokovi</span>
                            </button>
                            <button class="btn btn-outline-light btn-xs" data-bind="click: getLoan, disable: shipOnPlanetViews() == 'LOAN'">
                                <i class="far fa-money-bill-alt"></i>
                                <span data-bind="css:{'text-success': shipOnPlanetViews() == 'LOAN'}">Zajam</span>
                            </button>
                            <button class="btn btn-outline-light btn-xs" data-bind="click: getSelectedPlanetMarketInfo">
                                <i class="fas fa-search-dollar"></i>
                                <span data-bind="css:{'text-success': shipOnPlanetViews() == 'MARKET_INFO'}">Tržnice drugih planeta - info</span>
                            </button>
                        </div>
                        <!--/ko-->

                        <!--ko if: gameStatus() === "SHIP_ATTACKED" && shipOnBattleViews() == 'DECISION'-->
                        <div class="btn-group btn-group-xs" role="group">
                            <button class="btn btn-outline-light btn-xs" data-bind="click: escapeFromPirates" >
                                <i class="fas fa-running"></i>
                                <span>Bijeg</span>
                            </button>
                            <button class="btn btn-outline-light btn-xs" data-bind="click: fightWithPirates" >
                                <i class="fas fa-bolt"></i>
                                <span>Borba</span>
                            </button>
                            <button class="btn btn-outline-light btn-xs" data-bind="click: handOverGargoToPirates">
                                <i class="fas fa-hand-holding-usd"></i>
                                <span>Predati tovar</span>
                            </button>
                        </div>
                        <!--/ko-->
                        <!--ko if: gameStatus() === "SHIP_ATTACKED" && shipOnBattleViews() == 'FIGHT'-->
                        <button class="btn btn-outline-light btn-xs" data-bind="click: fight, visible: piratesFightType() == 'FIGHT'" >
                            <i class="fas fa-bolt"></i>
                            <span>Nova runda borbe</span> (<span data-bind="text: piratesFightRound"></span>)
                        </button>
                        <button class="btn btn-outline-light btn-xs" data-bind="click: fight, visible: piratesFightType() == 'ESCAPE'" >
                            <i class="fas fa-running"></i>
                            <span>Nova runda bijega</span> (<span data-bind="text: piratesFightRound"></span>)
                        </button>
                        <!--/ko-->
                    </div>
                </div>
            </div>
        </div>
    </div>